In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("hospital-costs (1).csv")

In [5]:
df.info

<bound method DataFrame.info of         Year  Facility Id                                Facility Name  \
0       2011          324  Adirondack Medical Center-Saranac Lake Site
1       2011          324  Adirondack Medical Center-Saranac Lake Site
2       2011          324  Adirondack Medical Center-Saranac Lake Site
3       2011          324  Adirondack Medical Center-Saranac Lake Site
4       2011          324  Adirondack Medical Center-Saranac Lake Site
5       2011          324  Adirondack Medical Center-Saranac Lake Site
6       2011          324  Adirondack Medical Center-Saranac Lake Site
7       2011          324  Adirondack Medical Center-Saranac Lake Site
8       2011          324  Adirondack Medical Center-Saranac Lake Site
9       2011          324  Adirondack Medical Center-Saranac Lake Site
10      2011          324  Adirondack Medical Center-Saranac Lake Site
11      2011          324  Adirondack Medical Center-Saranac Lake Site
12      2011          324  Adirondack Medical Center-Saranac Lake Site
13      2011          324  Adirondack Medical Center-Saranac Lake Site
14      2011          324  Adirondack Medical Center-Saranac Lake Site
15      2011          324  Adirondack Medical Center-Saranac Lake Site
16      2011          324  Adirondack Medical Center-Saranac Lake Site
17      2011          324  Adirondack Medical Center-Saranac Lake Site
18      2011          324  Adirondack Medical Center-Saranac Lake Site
19      2011          324  Adirondack Medical Center-Saranac Lake Site
20      2011          324  Adirondack Medical Center-Saranac Lake Site
21      2011          324  Adirondack Medical Center-Saranac Lake Site
22      2011          324  Adirondack Medical Center-Saranac Lake Site
23      2011          324  Adirondack Medical Center-Saranac Lake Site
24      2011          324  Adirondack Medical Center-Saranac Lake Site
25      2011          324  Adirondack Medical Center-Saranac Lake Site
26      2011          324  Adirondack Medical Center-Saranac Lake Site
27      2011          324  Adirondack Medical Center-Saranac Lake Site
28      2011          324  Adirondack Medical Center-Saranac Lake Site
29      2011          324  Adirondack Medical Center-Saranac Lake Site
...      ...          ...                                          ...
383463  2009         1153            Wyoming County Community Hospital
383464  2009         1153            Wyoming County Community Hospital
383465  2009         1153            Wyoming County Community Hospital
383466  2009         1153            Wyoming County Community Hospital
383467  2009         1153            Wyoming County Community Hospital
383468  2009         1153            Wyoming County Community Hospital
383469  2009         1153            Wyoming County Community Hospital
383470  2009         1153            Wyoming County Community Hospital
383471  2009         1153            Wyoming County Community Hospital
383472  2009         1153            Wyoming County Community Hospital
383473  2009         1153            Wyoming County Community Hospital
383474  2009         1153            Wyoming County Community Hospital
383475  2009         1153            Wyoming County Community Hospital
383476  2009         1153            Wyoming County Community Hospital
383477  2009         1153            Wyoming County Community Hospital
383478  2009         1153            Wyoming County Community Hospital
383479  2009         1153            Wyoming County Community Hospital
383480  2009         1153            Wyoming County Community Hospital
383481  2009         1153            Wyoming County Community Hospital
383482  2009         1153            Wyoming County Community Hospital
383483  2009         1153            Wyoming County Community Hospital
383484  2009         1153            Wyoming County Community Hospital
383485  2009         1153            Wyoming County Community Hospital
383486  2009         1153            Wyoming County Community Hospital
383487  2009         1153            Wyoming County Community Hospital
383488  2009         1153            Wyoming County Community Hospital
383489  2009         1153            Wyoming County Community Hospital
383490  2009         1153            Wyoming County Community Hospital
383491  2009         1153            Wyoming County Community Hospital
383492  2009         1153            Wyoming County Community Hospital

        APR DRG Code  APR Severity of Illness Code  \
0                  4                             4
1                  5                             4
2                 24                             2
3                 26                             1
4                 41                             1
5                 41                             2
6                 42                             2
7                 42                             3
8                 42                             4
9                 43                             1
10                43                             3
11                44                             3
12                44                             4
13                45                             3
14                45                             4
15                45                             1
16                45                             2
17                46                             2
18                47                             1
19                47                             2
20                47                             3
21                48                             2
22                48                             3
23                48                             4
24                51                             1
25                52                             1
26                52                             3
27                52                             4
28                53                             1
29                53                             2
...              ...                           ...
383463           775                             2
383464           775                             4
383465           776                             2
383466           776                             1
383467           791                             1
383468           811                             4
383469           811                             1
383470           811                             3
383471           812                             3
383472           812                             4
383473           812                             1
383474           812                             2
383475           813                             1
383476           813                             4
383477           813                             3
383478           813                             2
383479           816                             1
383480           816                             2
383481           844                             3
383482           861                             3
383483           861                             1
383484           861                             2
383485           930                             2
383486           950                             4
383487           950                             3
383488           951                             3
383489           952                             3
383490           952                             2
383491           952                             1
383492           956                             0

                                      APR DRG Description  \
0       Tracheostomy W MV 96+ Hours W Extensive Proced...
1       Tracheostomy W MV 96+ Hours W/O Extensive Proc...
2                        Extracranial Vascular Procedures
3               Other Nervous System & Related Procedures
4                               Nervous System Malignancy
5                               Nervous System Malignancy
6       Degenerative Nervous System Disorders Exc Mult...
7       Degenerative Nervous System Disorders Exc Mult...
8       Degenerative Nervous System Disorders Exc Mult...
9       Multiple Sclerosis & Other Demyelinating Diseases
10      Multiple Sclerosis & Other Demyelinating Diseases
11                                Intracranial Hemorrhage
12                                Intracranial Hemorrhage
13                  CVA & Precerebral Occlusion W Infarct
14                  CVA & Precerebral Occlusion W Infarct
15                  CVA & Precerebral Occlusion W Infarct
16                  CVA & Precerebral Occlusion W Infarct
17      Nonspecific CVA & Precerebral Occlusion W/O In...
18                                     Transient Ischemia
19                                     Transient Ischemia
20                                     Transient Ischemia
21        Peripheral, Cranial & Autonomic Nerve Disorders
22        Peripheral, Cranial & Autonomic Nerve Disorders
23        Peripheral, Cranial & Autonomic Nerve Disorders
24                                       Viral Meningitis
25                             Nontraumatic Stupor & Coma
26                             Nontraumatic Stupor & Coma
27                             Nontraumatic Stupor & Coma
28                                                Seizure
29                                                Seizure
...                                                   ...
383463                         Alcohol Abuse & Dependence
383464                         Alcohol Abuse & Dependence
383465                      Other Drug Abuse & Dependence
383466                      Other Drug Abuse & Dependence
383467  O.R. Procedure For Other Complications Of Trea...
383468                                 Allergic Reactions
383469                                 Allergic Reactions
383470                                 Allergic Reactions
383471                      Poisoning Of Medicinal Agents
383472                      Poisoning Of Medicinal Agents
383473                      Poisoning Of Medicinal Agents
383474                      Poisoning Of Medicinal Agents
383475                   Other Complications Of Treatment
383476                   Other Complications Of Treatment
383477                   Other Complications Of Treatment
383478                   Other Complications Of Treatment
383479          Toxic Effects Of Non-Medicinal Substances
383480          Toxic Effects Of Non-Medicinal Substances
383481        Partial Thickness Burns W Or W/O Skin Graft
383482  Signs, Symptoms & Other Factors Influencing He...
383483  Signs, Symptoms & Other Factors Influencing He...
383484  Signs, Symptoms & Other Factors Influencing He...
383485     Multiple Significant Trauma W/O O.R. Procedure
383486  Extensive Procedure Unrelated To Principal Dia...
383487  Extensive Procedure Unrelated To Principal Dia...
383488  Moderately Extensive Procedure Unrelated To Pr...
383489  Nonextensive Procedure Unrelated To Principal ...
383490  Nonextensive Procedure Unrelated To Principal ...
383491  Nonextensive Procedure Unrelated To Principal ...
383492                                        Ungroupable

       APR Severity of Illness Description APR Medical Surgical Code  \
0                                  Extreme                         P
1                                  Extreme                         P
2                                 Moderate                         P
3                                    Minor                         P
4                                    Minor                         M
5                                 Moderate                         M
6                                 Moderate                         M
7                                    Major                         M
8                                  Extreme                         M
9                                    Minor                         M
10                                   Major                         M
11                                   Major                         M
12                                 Extreme                         M
13                                   Major                         M
14                                 Extreme                         M
15                                   Minor                         M
16                                Moderate                         M
17                                Moderate                         M
18                                   Minor                         M
19                                Moderate                         M
20                                   Major                         M
21                                Moderate                         M
22                                   Major                         M
23                                 Extreme                         M
24                                   Minor                         M
25                                   Minor                         M
26                                   Major                         M
27                                 Extreme                         M
28                                   Minor                         M
29                                Moderate                         M
...                                    ...                       ...
383463                            Moderate                         M
383464                             Extreme                         M
383465                            Moderate                         M
383466                               Minor                         M
383467                               Minor                         P
383468                             Extreme                         M
383469                               Minor                         M
383470                               Major                         M
383471                               Major                         M
383472                             Extreme                         M
383473                               Minor                         M
383474                            Moderate                         M
383475                               Minor                         M
383476                             Extreme                         M
383477                               Major                         M
383478                            Moderate                         M
383479                               Minor                         M
383480                            Moderate                         M
383481                               Major                         M
383482                               Major                         M
383483                               Minor                         M
383484                            Moderate                         M
383485                            Moderate                         M
383486                             Extreme                         P
383487                               Major                         P
383488                               Major                         P
383489                               Major                         P
383490                            Moderate                         P
383491                               Minor                         P
383492                                 NaN                       NaN

       APR Medical Surgical Description  Discharges  Mean Charge  \
0                              Surgical           3     361289.0
1                              Surgical           1     102190.0
2                              Surgical           6      14172.0
3                              Surgical           1       8833.0
4                               Medical           1       5264.0
5                               Medical           1      17314.0
6                               Medical           4      11574.0
7                               Medical           2      18195.0
8                               Medical           1      18243.0
9                               Medical           1      28313.0
10                              Medical           1       6186.0
11                              Medical           2      10174.0
12                              Medical           1       8833.0
13                              Medical          11      21629.0
14                              Medical           4      30637.0
15                              Medical           4      16533.0
16                              Medical          20      14958.0
17                              Medical           2       9032.0
18                              Medical           4      15246.0
19                              Medical           4      11039.0
20                              Medical           1      15310.0
21                              Medical           2      12954.0
22                              Medical           2      11922.0
23                              Medical           1      17802.0
24                              Medical           1      17116.0
25                              Medical           1      10111.0
26                              Medical           5      14780.0
27                              Medical           1      28849.0
28                              Medical           3       6096.0
29                              Medical           3       9856.0
...                                 ...         ...          ...
383463                          Medical          13       3772.0
383464                          Medical           1       4676.0
383465                          Medical           7       7695.0
383466                          Medical           3       5118.0
383467                         Surgical           2       1745.0
383468                          Medical           1      12649.0
383469                          Medical           1       2000.0
383470                          Medical           1       6376.0
383471                          Medical           5       8896.0
383472                          Medical           1      11440.0
383473                          Medical           3       3133.0
383474                          Medical          12       4561.0
383475                          Medical           1       5729.0
383476                          Medical           1      12055.0
383477                          Medical           1      10091.0
383478                          Medical           2       3848.0
383479                          Medical           1       3511.0
383480                          Medical           4       5289.0
383481                          Medical           1      18982.0
383482                          Medical           1       3547.0
383483                          Medical           4       3754.0
383484                          Medical          10       5546.0
383485                          Medical           1       8948.0
383486                         Surgical           1      28369.0
383487                         Surgical           1      23960.0
383488                         Surgical           5      13572.0
383489                         Surgical           4       8323.0
383490                         Surgical           5       7746.0
383491                         Surgical           1       7892.0
383492                            Other           3       1069.0

        Median Charge  Mean Cost  Median Cost
0            210882.0   196080.0     123347.0
1            102190.0    59641.0      59641.0
2             13506.0     6888.0       6445.0
3              8833.0     4259.0       4259.0
4              5264.0     1727.0       1727.0
5             17314.0     5826.0       5826.0
6             11190.0     6122.0       5729.0
7             18195.0     9919.0       9919.0
8             18243.0     9694.0       9694.0

In [6]:
df.columns

Index(['Year', 'Facility Id', 'Facility Name', 'APR DRG Code',
       'APR Severity of Illness Code', 'APR DRG Description',
       'APR Severity of Illness Description', 'APR Medical Surgical Code',
       'APR Medical Surgical Description', 'Discharges', 'Mean Charge',
       'Median Charge', 'Mean Cost', 'Median Cost'],
      dtype='object')

In [7]:
df['Total Charges'] = df["Discharges"] * df["Mean Charge"] # Total charges

In [8]:
df["Total Costs"] = df["Discharges"] * df["Mean Cost"] # Total Cost

In [9]:
df["Markup"] = df["Total Charges"]/ df["Total Costs"] #Markup

In [10]:
Markups = df.sort_values(by='Markup', ascending=False)
Markups = df[['Facility Name', 'Total Charges', 'Total Costs', 'Markup']]
Markups.head(5)

,Facility Name,Total Charges,Total Costs,Markup
0,Adirondack Medical Center-Saranac Lake Site,1083867.0,588240.0,1.842559
1,Adirondack Medical Center-Saranac Lake Site,102190.0,59641.0,1.713419
2,Adirondack Medical Center-Saranac Lake Site,85032.0,41328.0,2.057491
3,Adirondack Medical Center-Saranac Lake Site,8833.0,4259.0,2.073961
4,Adirondack Medical Center-Saranac Lake Site,5264.0,1727.0,3.048060

In [11]:
Markups = df.sort_values(by='Markup', ascending=True, )

Markups = Markups[['Facility Name', 'Total Charges', 'Total Costs','Markup']]

In [12]:
Markups.head(5) # Top five markup highest cost for hospital

,Facility Name,Total Charges,Total Costs,Markup
370760,TLC Health Network Tri-County Memorial Hospital,1540540.0,97482510.0,0.015803
370761,TLC Health Network Tri-County Memorial Hospital,1282336.0,80679368.0,0.015894
370765,TLC Health Network Tri-County Memorial Hospital,21382.0,1152420.0,0.018554
370759,TLC Health Network Tri-County Memorial Hospital,184840.0,9504720.0,0.019447
370758,TLC Health Network Tri-County Memorial Hospital,215577.0,9592437.0,0.022474

In [13]:
Markups.tail(5) # Five lowest cost for hospital

,Facility Name,Total Charges,Total Costs,Markup
239105,SUNY Downstate Medical Center at LICH,303554.0,15894.0,19.098654
367819,SUNY Downstate Medical Center at LICH,255929.0,13307.0,19.232660
367818,SUNY Downstate Medical Center at LICH,292834.0,14803.0,19.782071
111915,SUNY Downstate Medical Center at LICH,250207.0,12163.0,20.571158
111925,SUNY Downstate Medical Center at LICH,43088.0,2068.0,20.835590

In [15]:
df.columns

Index(['Year', 'Facility Id', 'Facility Name', 'APR DRG Code',
       'APR Severity of Illness Code', 'APR DRG Description',
       'APR Severity of Illness Description', 'APR Medical Surgical Code',
       'APR Medical Surgical Description', 'Discharges', 'Mean Charge',
       'Median Charge', 'Mean Cost', 'Median Cost', 'Total Charges',
       'Total Costs', 'Markup'],
      dtype='object')

In [14]:
(df[['APR DRG Description', 'Discharges']]  # Top 10 most reasons people visit hospital
    .groupby('APR DRG Description')
    .sum()
    .sort_values(by='Discharges', ascending=False)
    .head(10))

                                                    Discharges
APR DRG Description
Neonate Birthwt >2499G, Normal Newborn Or Neona...      632412
Vaginal Delivery                                        458034
Cesarean Delivery                                       245265
Heart Failure                                           173826
Other Pneumonia                                         162344
Septicemia & Disseminated Infections                    161739
Chronic Obstructive Pulmonary Disease                   146461
Cellulitis & Other Bacterial Skin Infections            124617
Cardiac Arrhythmia & Conduction Disorders               121042
Chest Pain                                              117630

In [17]:
net = df[['Facility Name', 'Total Charges', 'Total Costs']]
net = net.groupby('Facility Name').sum()

In [18]:
net.head(10)

                                               Total Charges   Total Costs
Facility Name
Adirondack Medical Center-Saranac Lake Site     1.415735e+08  7.742766e+07
Albany Medical Center - South Clinical Campus   1.802808e+06  1.432784e+06
Albany Medical Center Hospital                  3.763945e+09  1.336299e+09
Albany Memorial Hospital                        2.219740e+08  9.490717e+07
Alice Hyde Medical Center                       8.723797e+07  4.105882e+07
Arnot Ogden Medical Center                      6.251266e+08  2.696178e+08
Auburn Community Hospital                       2.496035e+08  8.716358e+07
Aurelia Osborn Fox Memorial Hospital            3.545323e+07  2.082996e+07
Bellevue Hospital Center                        1.675103e+09  1.271430e+09
Benedictine Hospital                            4.622643e+08  1.450321e+08

In [19]:
net['net income'] = net['Total Charges'] - net['Total Costs']
net = net.sort_values(by='net income', ascending=False)

In [20]:
net['net income'].head(1) #Most profitable hospital

Facility Name
North Shore University Hospital    6.050732e+09
Name: net income, dtype: float64

In [21]:
net['net income'].tail(1) # least profitable

Facility Name
TLC Health Network Tri-County Memorial Hospital   -194816068.0
Name: net income, dtype: float64

In [22]:
# Data on Viral Menegitis 
newdf = df[df['APR DRG Description'] == "Viral Meningitis"]

In [23]:
newdf.head(10)

,Year,Facility Id,Facility Name,APR DRG Code,APR Severity of Illness Code,APR DRG Description,APR Severity of Illness Description,APR Medical Surgical Code,APR Medical Surgical Description,Discharges,Mean Charge,Median Charge,Mean Cost,Median Cost,Total Charges,Total Costs,Markup
24,2011,324,Adirondack Medical Center-Saranac Lake Site,51,1,Viral Meningitis,Minor,M,Medical,1,17116.0,17116.0,7006.0,7006.0,17116.0,7006.0,2.443049
557,2011,1,Albany Medical Center Hospital,51,1,Viral Meningitis,Minor,M,Medical,19,13212.0,11914.0,4569.0,3920.0,251028.0,86811.0,2.891661
558,2011,1,Albany Medical Center Hospital,51,2,Viral Meningitis,Moderate,M,Medical,11,21197.0,14197.0,7131.0,3923.0,233167.0,78441.0,2.972514
559,2011,1,Albany Medical Center Hospital,51,3,Viral Meningitis,Major,M,Medical,6,28074.0,22846.0,7495.0,5812.0,168444.0,44970.0,3.745697
560,2011,1,Albany Medical Center Hospital,51,4,Viral Meningitis,Extreme,M,Medical,1,130600.0,130600.0,39086.0,39086.0,130600.0,39086.0,3.341350
1635,2011,4,Albany Memorial Hospital,51,1,Viral Meningitis,Minor,M,Medical,3,7694.0,4772.0,2751.0,1647.0,23082.0,8253.0,2.796801
1636,2011,4,Albany Memorial Hospital,51,2,Viral Meningitis,Moderate,M,Medical,1,17038.0,17038.0,6306.0,6306.0,17038.0,6306.0,2.701871
1637,2011,4,Albany Memorial Hospital,51,3,Viral Meningitis,Major,M,Medical,1,14004.0,14004.0,5052.0,5052.0,14004.0,5052.0,2.771971
2199,2011,325,Alice Hyde Medical Center,51,1,Viral Meningitis,Minor,M,Medical,2,9652.0,9652.0,4294.0,4294.0,19304.0,8588.0,2.247788
2200,2011,325,Alice Hyde Medical Center,51,2,Viral Meningitis,Moderate,M,Medical,1,15811.0,15811.0,6941.0,6941.0,15811.0,6941.0,2.277914

In [24]:
newdf = newdf[["Facility Name", "APR DRG Description","APR Severity of Illness Description",
                "Discharges", "Mean Charge", "Median Charge", "Mean Cost"]]

In [25]:
# Least Expensive based on mean treatment
Moderate = newdf[newdf['APR Severity of Illness Description'] == 'Moderate']

(Moderate[['Facility Name','Discharges', 'Mean Charge']]
    .sort_values(by='Mean Charge', ascending=True)
    .head(10))

,Facility Name,Discharges,Mean Charge
258259,Aurelia Osborn Fox Memorial Hospital,1,1179.0
125853,Wyoming County Community Hospital,1,2407.0
138127,Brooks Memorial Hospital,1,2520.0
3970,Aurelia Osborn Fox Memorial Hospital,1,2601.0
54671,Metropolitan Hospital Center,1,3005.0
160639,Highland Hospital,2,3225.0
280816,Faxton-St Lukes Healthcare St Lukes Division,1,3231.0
179193,Memorial Hosp of Wm F & Gertrude F Jones A/K/A...,1,3270.0
307536,Memorial Hosp of Wm F & Gertrude F Jones A/K/A...,1,4106.0
17099,Cobleskill Regional Hospital,1,4382.0

In [26]:
threeormore = Moderate[Moderate['Discharges'] >= 3].head(10) #Charges 3 or more Discharges

In [27]:
# Hospital that discharges the most cases of Viral Meningitis
group = newdf[['Facility Name','Discharges']].groupby('Facility Name').sum()
group.sort_values(by='Discharges', ascending=False).head(5)

                                                    Discharges
Facility Name
North Shore University Hospital                            158
Montefiore Medical Center - Henry & Lucy Moses Div         152
Strong Memorial Hospital                                   117
Women And Children's Hospital Of Buffalo                   116
Winthrop-University Hospital                               109